{% extends "users/00/base.html"%}

    {% block content %}

    <div class="global-container">
    <title>register</title>
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Register in to adhyapna</h3>
            <div class="card-text">
                {% if messages %}
                
                        {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                        {% endfor %}
                  
                    {% endif %}
                <!--

                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Save changes</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    

    {% endblock %}